*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: var(--font-inter), system-ui, sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #ffffff;
  background-color: #000000;
}

a {
  color: inherit;
  text-decoration: none;
}
