@import "../styles/variables.css";

/* === Reset === */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* === Base === */
body {
  font-family: var(--font-sans), system-ui, sans-serif;
  font-size: var(--font-size-md);
  font-weight: var(--font-weight-regular);
  line-height: 1.5;
  letter-spacing: 0.01em;

  color: var(--color-text-primary);
  background-color: var(--color-bg);
}

a {
  color: inherit;
  text-decoration: none;
}
